
/*----------------------------------------------------------------------------*/
/* types / icons
/*----------------------------------------------------------------------------*/

*.sbFiles_Filemanager {
	background-image: url(../icons/type_multimediamanager.png);
}
*.sbFiles_Folder {
	background-image: url(../icons/type_folder.png);
}
*.sbFiles_AutoFolder {
	background-image: url(../icons/type_autofolder.png);
}
*.sbFiles_Image {
	background-image: url(../icons/type_image.png);
}

*.sbFiles_CTN_Image {
	background-image: url(../icons/type_ctn_image.png);
}
*.sbFiles_TPL_Image {
	background-image: url(../icons/type_tpl_image.png);
}


