
a.explorercard {
	width: 152px;
	padding: 5px 5px 3px 0px;
}
a.explorercard:hover {
	background-color: #EEE650;
	text-decoration: none;
}

a.explorercard span.container {
	width: 150px;
}