html {
	font-family: Arial, Helvetica, Sans-Serif;
}

body {
	padding: 40px;
}


a {
	color: black;
}
a:hover {
	color: blue;
}


h1, h2, h3, h4 {
	font-family: Trebuchet MS, Sans-Serif;
}

h1 {
	padding: 30px;
	text-align: center;
	color: white;
	background-color: darkgrey;
}

h2 {
	padding: 10px 10px;
	text-align: center;
	color: white;
	background-color: black;
}

h3 {
	padding: 5px 5px;
	color: white;
	background-color: black;
}

h4 {
	padding: 5px 0;
	border-bottom: 1px solid black;
}

span.class (
	font-weight: bold;
);


p {
	margin: 8px 0;
}

*.caution,
*.info,
*.action,
*.todo {
	padding: 10px;
	margin-bottom: 8px;
}


*.caution {
	background-color: #FDD;
	border: 3px solid #FAA;
	
}
*.info {
	background-color: #FFB;
	border: 3px solid #FF4;
}
*.action {
	background-color: #DDF;
	border: 3px solid #AAF;
}
*.todo {
	background-color: #DFD;
	border: 3px solid #AFA;
}
pre.code {
	background-color: #DDD;
	padding: 10px;
}