<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.solidbytes.jukebox" android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.DELETE_CACHE_FILES"></uses-permission>

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Activity_sbJukebox" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_MOUNTED" />
				<data android:scheme="file" />
			</intent-filter>
		</activity>
		<activity android:name=".Activity_Albums_List" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".Activity_Artists" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".Activity_Charts" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".Activity_Preferences" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".Activity_Album_Details" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".Activity_Artists_List" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".Activity_Albums" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name=".Activity_Artist_Details" android:theme="@android:style/Theme.NoTitleBar"></activity>
	</application>

</manifest>