
/*----------------------------------------------------------------------------*/
/* types / icons
/*----------------------------------------------------------------------------*/

*.sbPortal_Portal {
	background-image: url(../icons/type_portal.png);
}
*.sbPortal_Page {
	background-image: url(../icons/type_portalpage.png);
}
*.sbPortal_Content {
	background-image: url(../icons/type_portalcontent.png);
}

