
@import url("styles_colored.css");

/*----------------------------------------------------------------------------*/
/* page styles
/*----------------------------------------------------------------------------*/

html {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	padding: 0;
	background-color: var(--background-color);
}

body {
	padding: 0px;
	margin: 0;
	color: #DDD;
}

div.body {
	margin-top: 20px;
	margin: auto;
	padding: 0;
	border-left: 1px solid black;
	text-align: left;
}

body a {
	text-decoration: none;
	color: var(--link-color);
	filter: hue-rotate(var(--hue-rotate)) saturate(var(--saturation));
}
body a:hover {
/* 	color: var(--link-color-hover); */
	/*text-decoration: underline;*/
	filter: brightness(var(--hover-brightness)) hue-rotate(var(--hue-rotate)) saturate(var(--saturation));
/* 	filter: brightness(var(--hover-brightness)); */
}

/*----------------------------------------------------------------------------*/
/* login
/*----------------------------------------------------------------------------*/

html.login {
	background-color: #222;
}

div.login {
	color: white;
	margin: auto;
	vertical-align: middle;
	position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 220px);
}
div.logincontainer,
div.logincontainer div {
	padding: 0px;
	height: 300px;
	width: 440px;
}
div.logincontainer {
	background-image: linear-gradient(to bottom, #444, #222);
/* 	margin: auto; */
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 5px 20px #181818;
}
div.logincontainer div {
	background: transparent url(../images/clef.svg) no-repeat top left;
	background-size: 230px;
	background-position: -30px 15px;
}
form.login {
	padding-top: 15px;
	padding-right: 15px;
	text-align: right;
}
form.login label {
	font-weight: bold;
	font-size: 13px;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	padding-left: 5px;
}
form.login input {
	width: 150px;
	margin: 4px 0 4px 4px;
	padding: 0px;
	vertical-align: baseline;
}
div.logincontainer div.slogan {
	font-size: 6px;
	text-align: center;
	color: #3A3A3A;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 3px;
	background: transparent;
	width: 461px;
	display: none;
}

/*----------------------------------------------------------------------------*/
/* clobal
/*----------------------------------------------------------------------------*/

#confirmation {
	position: fixed;
	background: transparent url(../images/confirmation_fade.png);
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
}
#confirmation div.frame {
	width: 400px;
	margin: 250px auto;
	position: relative;
	padding: 0px;
	border: 2px solid #181818;
	background-color: #111;
}
#confirmation div.frame h1 {
	margin: 0;
	padding: 9px;
	background: #000 url(../images/headline_bg.png) repeat-x top center;
	text-align: center;
}
#confirmation a {
	color: #AAA;
	margin: 10px;
	padding: 10px 20px;
	font-size: 1.7em;
	border: 2px solid #000;
	background-color: #222;
	filter: none;
}
#confirmation a.confirm {
	float: left;
	/*background-color: #141;*/
}
#confirmation a.confirm:hover {
	background-color: #622;
}
#confirmation a.cancel {
	float: right;
	/*background-color: #411;*/
}
#confirmation a.cancel:hover {
	background-color: #444;
}
#confirmation br {
	clear: both;
}

/*----------------------------------------------------------------------------*/
/* page head
/*----------------------------------------------------------------------------*/

div.head {
	background-image: linear-gradient(to bottom, var(--topbar-color-top), var(--topbar-color-bottom2));
	filter: hue-rotation(var(--hue-rotation));
}

div.head h1 {
/* 	background: url(../images/logo.png) no-repeat 50px 5px; */
	background: transparent url(../images/header_bg.png) repeat-x top left;
	filter: hue-rotation(var(--hue-rotation)) saturation(var(--saturation));
	padding-left: 100px;
	padding-left: 60px;
}

div.current_playlist {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 0 0 0 7px;
	padding: 6px 4px 6px 8px;
}

div.current_playlist ul {
	margin: 6px 0 0 0;
	padding: 0;
	list-style-type: none;
}
div.current_playlist ul li {
	margin: 0;
}
div.current_playlist ul li a {
	padding-top: 3px;
	padding-bottom: 1px;
	display: block;
	margin: 0;
}
	
/*span.current_playlist span a {
	position: relative;
	top: -1px;
	left: -1px;
	line-height: 20px;
}*/

/*----------------------------------------------------------------------------*/
/* menu
/*----------------------------------------------------------------------------*/

div.sidebar {
	width: 200px;
	float: left;
	background: transparent url(../images/sidebar_bg.png) repeat-y top left;
}

div.menu {
	position: relative;
	display: block;
	font-size: 11px;
	font-weight: bold;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	background-color: transparent;
	width: 195px;
}
div.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
div.menu ul li {
	display: block;
	margin: 0;
}
div.menu a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 14px 22px 0 22px;
	height: 28px;
	background-image: linear-gradient(to bottom, var(--menu-entry-top), var(--menu-entry-bottom));
/* 	background: transparent url(../images/menu_bg.png) repeat-x top left; */
/* 	filter: hue-rotation(var(--hue-rotation)); */
}
div.menu a:hover {
	background: transparent url(../images/menu_bg_hover.png) repeat-x top center;
/* 	color: var(--link-color-hover); */
/* 	color: var(--link-color); */
/* 	color: white; */
/* 	filter: none; */
/* 	filter: hue-rotation(var(--hue-rotation)); */
}
div.menu a.active {
	background: transparent url(../images/menu_bg_active.png) repeat-x top center;
/* 	color: var(--link-color-hover); */
/* 	filter: none; */
/* 	filter: hue-rotation(var(--hue-rotation)); */
}

/*----------------------------------------------------------------------------*/
/* nav bar
/*----------------------------------------------------------------------------*/

div.toolbar {
	/*height: 49px;*/
	min-height: 28px;
	padding: 8px;
	background-image: linear-gradient(to bottom, var(--topbar-color-top), var(--topbar-color-bottom));
/* 	background: #222 url(../images/helper_bg_top.png) repeat-x top center; */
	margin-left: 199px;
}
div.nav {
	min-height: 16px;
/* 	background: #141414 url(../images/helper_bg.png) repeat-x top center; */
	background-color: var(--actionbar-color-bottom);
	background-image: linear-gradient(to bottom, var(--actionbar-color-top), var(--actionbar-color-bottom));
	background-repeat: no-repeat;
	background-size: 100% 10px;
	margin: 0;
	padding: 8px;
	margin-left: 199px;
}

form.simplesearch {
	margin: 0;
	padding: 0;
}

span.alphalinks {
	padding: 4px;
}
span.alphalinks a {
	font-weight: bold;
	padding: 4px 8px;
	font-size: 1.1em;
	border-radius: 3px;
}
span.alphalinks a:hover {
	color: black;
	background-color: var(--link-color);
	
}

/*----------------------------------------------------------------------------*/
/* content
/*----------------------------------------------------------------------------*/

div.content {
	font-size: 12px;
	margin: 0;
	color: #EEE;
	margin-left: 199px;
}
div.content table {
	font-size: 12px;
}

/* content area --------------------------------------------------------------*/

h1, h2, h3 {
	font-family: Trebuchet MS, Arial, Helvetica, Sans-Serif;
}
h1 {
	font-size: 24px;
	padding: 10px 50px;
	margin: 0;
}

table.default {
	font-size: 0.9em;
	border-collapse: collapse;
	background-color: #0D0D0D;
}
table.default td {
	padding: 4px 5px;
	vertical-align: top;
}
table.default tr.separator, 
table.default thead {
	background-image: linear-gradient(to bottom, var(--header-color-top), var(--header-color-bottom));
}
table.default tr.separator th {
	padding: 4px 8px;
}
table.default th {
	padding: 15px;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	font-size: 14px;
	font-family: Trebuchet MS, Arial, Helvetica, Sans-Serif;
}
*.odd {
	background-color: var(--row-color-odd);
}
*.even {
	background-color: var(--row-color-even);
}
*.odd_selected {
	background-color: var(--row-color-odd-selected);
}
*.even_selected {
	background-color: var(--row-color-even-selected);
}

ul.sortable {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.sortable li {
	margin: 0;
	padding: 4px;
	display: block;
	cursor: n-resize;
}

ul.default {
	padding: 3px 0 3px 10px;
	margin: 10px;
}
ul.default li {
	padding: 2px 0 2px 10px;
	margin: 0;
}

table.hidden tr td {
	padding: 0;
}

div.th {
	padding: 15px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
/* 	background: #282828 url(../images/headline_bg.png) repeat-x top center; */
	background-image: linear-gradient(to bottom, var(--header-color-top), var(--header-color-bottom));
	font-size: 14px;
	font-family: Trebuchet MS, Arial, Helvetica, Sans-Serif;
}

div.th_songkick_inner {
	padding: 10px 5px;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Trebuchet MS, Arial, Helvetica, Sans-Serif;
	background: url(../images/concerts_by_songkick.png) no-repeat center right;
}
div.th_songkick_outer {
	padding: 5px 10px;
/* 	background: #282828 url(../images/headline_bg.png) repeat-x top center; */
	background-image: linear-gradient(to bottom, var(--header-color-top), var(--header-color-bottom));
}

div.tags {
	background-color: #141414;
	padding: 6px;
}

table.default label {
	float: right;
}

/* album covers --------------------------------------------------------------*/

div.albumcover {
	padding: 8px;
	text-align: center;
	float: left;
}

div.albumcover_wall {
	padding: 2px 2px 2px 2px;
	text-align: center;
	float: left;
}

/* voting / charts -----------------------------------------------------------*/

a.imglink {
	filter: none;
}
a.imglink:hover {
	filter: none;
	filter: brightness(var(--hover-brightness));
}
a.imglink img {
	border: 0;
}
td.timesplayed {
	color: #AAA;
}

span.actions {
	float: right;
	position: relative;
	top: -3px;
}
span.stars {
	
}
span.stars img {
	cursor: pointer;
	filter: hue-rotate(var(--hue-rotate)) saturate(var(--saturation));
}
span.actions span.stars {
	position: relative;
	top: 3px;
}
span.stars img {
	width: 15px;
	height: 15px;
	padding-right:1px;
/* 	background-color: purple; */
	background-image: url('/theme/sb_jukebox/images/star_dot.png');
}
span.stars img.none {
	background-image: url('/theme/sb_jukebox/images/star_dot.png');
}
span.stars img.smaller {
	background-image: url('/theme/sb_jukebox/images/star_set_smaller.png');
}
span.stars img.small {
	background-image: url('/theme/sb_jukebox/images/star_set_small.png');
}
span.stars img.normal {
	background-image: url('/theme/sb_jukebox/images/star_set_normal.png');
}

/* span.stars img.badstar_normal { */
/* 	background-image: /theme/sb_jukebox/images/star_crap_normal.png; */
/* } */
/* span.stars img.badstar_small { */
/* 	background-image: /theme/sb_jukebox/images/star_crap_small.png; */
/* } */
/* span.stars img.badstar_smaller{ */
/* 	background-image: /theme/sb_jukebox/images/star_crap_smaller.png; */
/* } */
span.stars img.highlighted {
	filter: brightness(var(--hover-brightness)) hue-rotate(var(--hue-rotate)) saturate(var(--saturation));
}
span.stars img.bad {
	filter: hue-rotate(var(--badstar-hue-rotate));
}
span.stars img.bad.highlighted {
	filter: brightness(var(--hover-brightness)) hue-rotate(var(--badstar-hue-rotate));
}


/* autocompleter -------------------------------------------------------------*/

div.ac_suggestions {
	background-color: #222;
	border: 1px solid #333;
	z-index: 2000;
}
div.ac_suggestions ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
div.ac_suggestions ul li {
	cursor: pointer;
	margin: 2px 0;
	padding: 2px 4px;
}
div.ac_suggestions ul li.selected {
	background-color: #000;
	color: var(--link-color);
	filter: hue-rotate(var(--hue-rotate)) saturate(var(--saturation));
}

/* album details -------------------------------------------------------------*/

div.albumcontainer {
	background-color: black;
	padding: 20px;
	margin-bottom: 20px;
}
div.albumcontainer h2 {
	font-size: 1.2em;
	padding: 5px;
	margin: 0 0 10px 0;
	border-bottom: 1px solid white;
}

/* tags ----------------------------------------------------------------------*/

div.tagcontainer {
	padding: 10px;
	font-size: 1.5em;
	text-align: justify;
	vertical-align: middle;
}
div.tagcontainer a {
	margin: 5px;
	white-space: nowrap;
	vertical-align: middle;
}

/*----------------------------------------------------------------------------*/
/* player
/*----------------------------------------------------------------------------*/

div#player {
/* 	height: 150px; */
	position: sticky;
	z-index: 1000;
	top: 0;
	left: 0;
	box-shadow: 0 0 8px black;
}
div#player audio {
	background-color: #333;
	opacity: 1;	
	background-image: linear-gradient(to bottom, var(--header-color-top), var(--header-color-bottom));
}

div.tracklist,
div.tracklist ul,
div.tracklist ul li {
	padding: 0;
	margin: 0;
	z-index: 500;
}
div.tracklist {
	position: relative;
	overflow: auto;
	height: auto;
}

div.tracklist ul li {
	display: block;
}
div.tracklist ul li:nth-child(even) {
	background: var(--row-color-even);
}
div.tracklist ul li:nth-child(odd) {
	background: var(--row-color-odd);
}
div.tracklist ul li:nth-child(even).nowplaying {
	background: var(--row-color-even-selected);
}
div.tracklist ul li:nth-child(odd).nowplaying {
	background: var(--row-color-odd-selected);
}
div.tracklist ul li a {
	margin: 0;
	display: block;
	padding: 3px;
	white-space: nowrap;
	overflow: hidden;
}

/*----------------------------------------------------------------------------*/
/* footer
/*----------------------------------------------------------------------------*/

div.footer {
	position: relative;
/* 	background: transparent url(../images/content_bg.png) repeat-x bottom left; */
	background-image: linear-gradient(to bottom, var(--header-color-top), var(--background-color));
	font-size: 10px;
	font-weight: bold;
	color: var(--header-color-top);
	padding: 0;
	margin: 0px;
	height: 50px;
	vertical-align: bottom;
	margin-left: 199px;
}

div.footer a {
	color: var(--header-color-top);
}

div.menufooter {
	background: #4E4E4E url(../images/sidebar_ramp_bg.png) repeat-y top left;
	font-size: 10px;
	font-weight: bold;
	color: #888;
	padding: 0;
	margin: 0;
	text-align: left;
}
div.menufooter a {
	color: #888;
}
div.menufooter_top {
	height: 15px;
	background: transparent url(../images/sidebar_ramp_top.png) repeat-x top left;
}
div.menufooter_info {
	padding-bottom: 35px;
	padding-left: 10px;
	background: transparent url(../images/sidebar_ramp_bottom.png) repeat-x bottom left;
}


/*----------------------------------------------------------------------------*/
/* icons
/*----------------------------------------------------------------------------*/

*.type {
	padding: 1px 3px 1px 20px;
	margin: 0 0 0 1px;
	background-repeat: no-repeat;
	background-image: url(../icons/type_node.gif);
	background-position: 0px center;
/* 	filter: hue-rotate(var(--hue-rotate)); */
}
a.type:hover {
/* 	filter: brightness(150%) hue-rotate(var(--hue-rotate)); */
}

*.button {
	margin: 0;
	padding: 0;
}

*.icononly {
	padding: 1px 0 0 0;
}
*.icononly img {
	vertical-align: middle;
	border: 0;
	margin: 0;
	padding: 0;
}

/* standard objects/types */

*.track, *.sbJukebox_Track {background-image: url(../icons/type_track.png);}
*.album, *.sbJukebox_Album {background-image: url(../icons/type_cd.png);}
*.artist, *.sbJukebox_Artist {background-image: url(../icons/type_artist.png);}
*.playlist, *.sbJukebox_Playlist {background-image: url(../icons/type_playlist.png);}
*.tag {background-image: url(../icons/type_tag.png);}
*.relation {background-image: url(../icons/type_relation.png);}
*.lyrics {background-image: url(../icons/type_lyrics.png);}
*.info {background-image: url(../icons/menu_overview.png);}
*.sb_track {background-image: url(../icons/type_track.png);}
*.sb_album {background-image: url(../icons/type_cd.png);}
*.sb_artist {background-image: url(../icons/type_artist.png);}

/* other objects/types */

*.recommendations {background-image: url(../icons/recommend_hover.png);}
*.comment {background-image: url(../icons/type_comment.png);}
*.concerts {background-image: url(../icons/type_concert.png);}
*.ear {background-image: url(../icons/ear_hover.png);}
*.vote {background-image: url(../icons/type_vote.png);}

/* menu (has to be after 'type' definition) */

*.menu_overview {background-image: url(../icons/menu_overview.png);}
*.menu_albums {background-image: url(../icons/menu_cd.png);}
*.menu_artists {background-image: url(../icons/menu_artists.png);}
*.menu_charts {background-image: url(../icons/menu_charts.png);}
*.menu_tags {background-image: url(../icons/menu_tags.png);}
*.menu_favorites {background-image: url(../icons/menu_favorites.png);}
*.menu_playlists {background-image: url(../icons/menu_playlists.png);}
*.menu_config {background-image: url(../icons/menu_config.png);}
*.menu_logout {background-image: url(../icons/menu_logout.png);}

/* actions */

*.play {background-image: url(../icons/play.png);}
*.searchLyrics {background-image: url(../icons/lyrics.png);}
*.videos {background-image: url(../icons/videos.png);}
*.create {background-image: url(../icons/create.png);}
*.addToFavorites {background-image: url(../icons/add_to_favorites.png);}
*.recommend {background-image: url(../icons/recommend.png);}
*.recommendation {background-image: url(../icons/type_recommendation.png);}
*.addToPlaylist {background-image: url(../icons/add_to_playlist.png);}
*.jumpToPlaylist {background-image: url(../icons/jump_to_playlist.png);}
*.collapse {background-image: url(../icons/collapse.png);}
*.expand {background-image: url(../icons/expand.png);}
*.back {background-image: url(../icons/back.png);}
*.remove {background-image: url(../icons/remove.png);}
*.download {background-image: url(../icons/download.png);}
*.maintenance {background-image: url(../icons/maintenance.png);}
*.activate {background-image: url(../icons/activate.png);}
*.activated {background-image: url(../icons/activated.png);}
*.coverwall {background-image: url(../icons/coverwall.png);}
*.rss {background-image: url(../icons/rss.png);}
*.wikipedia {background-image: url(../icons/wikipedia.png);}
*.unsetVote {background-image: url(../icons/vote_unset.png);}
*.voteDetails {background-image: url(../icons/vote_details.png);}

/*----------------------------------------------------------------------------*/
/* forms
/*----------------------------------------------------------------------------*/

form.default table {
	width: 100%;
}
span.formerror {
	color: red;
	text-decoration: blink;
}
form.default input.formerror,
form.default textarea.formerror {
	background-color: #FEE;
	border: 2px solid red;
	padding: 1px 2px;
}

/*----------------------------------------------------------------------------*/
/* forms
/*----------------------------------------------------------------------------*/

input[type=text],
input[type=password],
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=time],
input[type=email],
input[type=url],
input[type=number],
input[type=search],
input[type=tel],
textarea,
select {
	border: 1px solid #FFF;
	border-radius: 2px;
}

a.button,
input[type=button], 
input[type=submit], 
input[type=reset] {
	padding: 2px 6px;
	font-size: 1em;
	border: 1px solid var(--link-color);
	border-radius: 3px;
	background-color: var(--link-color);
	filter: hue-rotate(var(--hue-rotate)) saturate(var(--saturation));
}
a.button:hover,
input[type=button]:hover, 
input[type=submit]:hover, 
input[type=reset]:hover {
/* 	background-color: var(--highlight-color); */
/* 	color: var(--highlight-color-text); */
	border: 1px solid var(--link-color);
	filter: brightness(var(--hover-brightness)) hue-rotate(var(--hue-rotate)) saturate(var(--saturation));
}

div.fancy_checkbox {
	display: inline-block;	
}
div.fancy_checkbox input[type=checkbox] {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow:hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}
div.fancy_checkbox input[type=checkbox] + label {
	padding: 0px 5px;
/* 	display: inline-block; */
/* 	vertical-align: middle; */
	cursor: pointer;
	background-color: white;
	border: 0px solid #FFF;
	border-radius: 3px;
left: 0;
	color: #DDD;
	transition: var(--transition-time-default);
	font-size: 1.2em;
}

div.fancy_checkbox input[type=checkbox]:checked + label {
	color: black;
}
div.fancy_checkbox input[type=checkbox]:focus + label {
/* 	border: 2px solid var(--highlight-color); */
}
div.fancy_checkbox label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*----------------------------------------------------------------------------*/
/* exceptions & errors
/*----------------------------------------------------------------------------*/

div.exception {
	border: 25px solid black;
	background-color: black;
}
table.exception {
	border: 1px solid darkred;
	margin: 0;
	background-color: black;
	color: red;
	font-size: 80%;
	border-collapse: collapse;
}
table.exception th, 
table.exception td {
	padding: 2px;
	text-align: left;
	border: 1px solid darkred;
}
table.exception th {
	background-color: darkred;
	color: black;
	border: 1px solid darkred;
}
table.exception th.gurumeditation {
	text-align: center;
	background-color: black;
	color: red;
	border: 1px solid black;
	border-bottom: 1px solid darkred;
	padding: 0;
}
table.exception tr.root {
	font-weight: bold;
}

#gurumeditation {
	padding: 3px 20px;
	margin-bottom:20px;
}
div.gm_on {
	border: 5px solid red;
}
div.gm_off {
	border: 5px solid black;
}

/*----------------------------------------------------------------------------*/

table.warning {
	border: 2px solid yellow;
	background-color: white;
	color: black;
	font-size: 80%;
	border-collapse: collapse;
	margin: 20px;
}
table.warning th, table.warning td {
	text-align: left;
	border: 1px solid yellow;
	padding: 2px;
}
table.warning tr.root {
	background-color: #FCC;
}
table.warning th.message {
	color: black;
	background-color: yellow;
}

