
/*----------------------------------------------------------------------------*/
/* types / icons
/*----------------------------------------------------------------------------*/

*.sbUtilities_Imageprocessing {
	background-image: url(../icons/type_imageprocessing.png);
}
*.sbUtilities_Imagefilterstack {
	background-image: url(../icons/type_imagefilterstack.png);
}
*.sbUtilities_Imagefilter_Resize {
	background-image: url(../icons/type_imagefilter_resize.png);
}
*.sbUtilities_Imagefilter_Colorize {
	background-image: url(../icons/type_imagefilter_colorize.png);
}
*.sbUtilities_Imagefilter_Negative {
	background-image: url(../icons/type_imagefilter_negative.png);
}
*.sbUtilities_Imagefilter_Lightness {
	background-image: url(../icons/type_imagefilter_lightness.png);
}
*.sbUtilities_Imagefilter_Crop {
	background-image: url(../icons/type_imagefilter_crop.png);
}
*.sbUtilities_Imagefilter_Greyscale {
	background-image: url(../icons/type_imagefilter_greyscale.png);
}
*.sbUtilities_Imagefilter_RoundedEdges {
	background-image: url(../icons/type_imagefilter_roundededges.png);
}

