
/*----------------------------------------------------------------------------*/
/* general styles
/*----------------------------------------------------------------------------*/

html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #222;
	background-color: #E0E8E0;
	text-align: left;
}


a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
	/*background-color: #FF7;*/
}

h1 {
	font-size: 140%;
	font-weight: normal;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

ul {
	padding-left: 20px;
}

div.workbench {
	/*background-color: #F7F7FF;
	/*background-color: appworkspace;*/
	clear: both;
	padding: 15px;
}

#modalbackground {
	display: none;
	position: absolute;
	background-color: grey;
	moz-opacity: 0.5;
	filter: alpha(opacity=50);
	opacity: 0.50;
}

/*----------------------------------------------------------------------------*/
/* clearfix
/*----------------------------------------------------------------------------*/

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

/*----------------------------------------------------------------------------*/
/* eyecandy card
/*----------------------------------------------------------------------------*/

div.eyecandy {
	background: url(../images/header_center.png) top repeat-x;
	min-height: 100px;
}
div.eyecandy div.left {
	background: url(../images/header_left.png) left top no-repeat;
}
div.eyecandy div.right {
	background: url(../images/header_right.png) right top no-repeat;
	padding: 7px 10px 10px 10px;
}
div.eyecandy h1 {
	margin: 0 0 10px 0;
}

/*----------------------------------------------------------------------------*/
/* helpers
/*----------------------------------------------------------------------------*/

table.invisible {
	padding: 0;
	margin: 0;
	font-size: 1em;
	width: 100%;
	border: 0;
}
table.invisible tr, 
table.invisible td,
table.invisible td {
	border: 0;
	padding: 0;
}
div.spacer {
	width: 15px;
	height: 10px;
}

/*----------------------------------------------------------------------------*/

ul.invisible {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*----------------------------------------------------------------------------*/
/* tables
/*----------------------------------------------------------------------------*/

table {
	font-size: 0.9em;
	border-collapse: collapse;
	border: 0;
}
table th, table td {
	padding: 2px;
	text-align: left;
	vertical-align: top;
	border: 0;
}

/*----------------------------------------------------------------------------*/

table.default {
	font-size: 0.9em;
	border: 1px solid #808880;
	border-collapse: collapse;
	margin-bottom: 20px;
	clear: both;
	width: 100%;
}
table.default td,
table.default th {
	padding: 2px;
	/*border-bottom: 1px solid #505850;
	border-top: 1px solid #505850;*/
}
table.default td {
	vertical-align: top;
}
table.default th {
	vertical-align: bottom;
}
table.default th {
	padding: 4px;
	text-align: left;
	color: #FFFFFF;
	background: #808880 url(../images/tbg_th.png) 0 0 repeat-x;
}
table.default th.th2,
table.default tr.th2 th {
	font-weight: normal;
	background: #606860 url(../images/tbg_th2.png) 0 0 repeat-x;
}
table.default th.selected {
	background-color: #776;
	background: #655 url(../imfages/tbg_th2_selected.png) 0 0 repeat-x;
}
table.default td.selected {
	background-color: #EEA;
}
table.default th.small {
	font-weight: normal;
	font-size: smaller;
}
table.default th a,
table.default th a:visited {
	font-weight: normal;
	color: #DDDDCC;
	text-decoration: none;
}
table.default th a:hover {
	color: #AAAA99;
}
table.default td.small {
	font-size: smaller;
}
table.default tr.lastline {
	background: #D8E0D8 url(../images/tbg_lastline.png) bottom repeat-x;
}
table.default tr.lastline td {
	padding-bottom: 5px;
}

/* different table rows ------------------------------------------------------*/

table.default tr {
	text-align: left;
	background-color: #D8E0D8;
}
table.default tr.odd {
	/*background: url(../images/tbg_odd.png) left top repeat-x;*/
	background-color: #D8E0D8;
}
table.default tr.even {
	/*background: url(../images/tbg_even.png) left top repeat-x;*/
	background-color: #E8F0E8;
}
table.default tr.bright {
	background-color: #FFE;
}
table.default tr.dark {
	background-color: #DDC;
}
table.default tr.emp {
	background-color: #FFC;
}
table.default tr.active {
	background-color: #FCF;
}
table.default tr.allow {
	background-color: #AFA;
}
table.default tr.deny {
	background-color: #FAA;
}
table.default tr.disabled {
	color: #334;
	background-color: #AA9;
}
table.default tr.odd td.selected {
	/*background-color: #FFFFDD;*/
}
table.default tr.even td.selected {
	/*background-color: #EEEECC;*/
}
table.default tr.unpublished {
	background-color: #BBB;
}
table.default tr.processed {
	background-color: #BBB;
}
/*
table.default tr:hover, table.default tr:hover td {
	background-color: #FFE;
}
*/

/*----------------------------------------------------------------------------*/
/* forms
/*----------------------------------------------------------------------------*/

form.default {
	
}

form.default label {
	float: right;
	padding-top: 3px;
}

/*form.default input, form.default textarea {
	border: 1px solid black;
	padding: 1px 3px;
}*/

span.formerror {
	color: red;
	text-decoration: blink;
}

form.default input.formerror,
form.default textarea.formerror {
	background-color: #FEE;
	border: 2px solid red;
	padding: 1px 2px;
}

/*form.default input.button {
	border: 2px outset
	padding: 1px 3px;
}*/

textarea {
	font-size: 1em;
	font-family: Arial, Helvetica, Sans-Serif;
}


ul.itemlist {
	list-style-type: none;
	padding: 0;
	margin:0px;
	margin-bottom:10px;
}
ul.itemlist li {
	padding: 3px;
	margin: 2px 0;
	background-color: #FFF;
}
/*ul.itemlist li:hover {
	padding: 3px;
	margin: 2px 0;
	background-color: #FF7;
	cursor: move;
}*/



div.ac_suggestions {
	background-color: #E0E8E0;
	border: 1px solid #808880;
	z-index: 2000;
}
div.ac_suggestions ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
div.ac_suggestions ul li {
	cursor: pointer;
	margin: 2px 0;
	padding: 2px 4px;
}
div.ac_suggestions ul li.selected {
	background-color: #EEE650;
	background: url(../images/highlight.png) top left repeat-x;
}



.droptarget {
	border: 1px dashed black;
	padding: 10px;
}
.droptarget_active {
	border: 1px dashed black;
	padding: 10px;
	background-color: white;
}
.droptarget_remove {
	border: 1px dashed black;
	padding: 10px;
	background-color: #F66;
}

/*----------------------------------------------------------------------------*/
/* explorer cards
/*----------------------------------------------------------------------------*/

a.explorercard {
	display: block;
	width: 140px;
	float: left;
	margin: 0 10px 10px 0;
	padding: 5px 5px 3px 5px;
	border: 1px solid #808880;
	background-color: #D0D8D0;
	overflow: hidden;
}
a.explorercard:hover {
	background-color: #EEE650;
	text-decoration: none;
}

a.explorercard span.container {
	width: 140px;
	height: 140px;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
	margin-bottom: 3px;
}

a.explorercard span.type {
	display: block;
	clip:rect(0px, 140px, 30px, 0px);
	white-space: pre;
}

a.explorercard img {
	border: 0;
	vertical-align: middle;
}

/*----------------------------------------------------------------------------*/
/* nodetypes & icons
/*----------------------------------------------------------------------------*/

*.type {
	padding: 1px 3px 1px 19px;
	margin: 0 0 0 1px;
	background-repeat: no-repeat;
	background-image: url(../icons/type_node.gif);
	background-position: 1px center;
}

*.sb_abstract {
	background-image: url(../icons/type_abstract.png);
}

*.sbSystem_View {
	background-image: url(../icons/type_view.png);
}
*.sbSystem_Action {
	background-image: url(../icons/type_action.png);
}
*.sbSystem_Root {
	background-image: url(../icons/type_solidmatter.png);
}
*.sbSystem_Favorites {
	background-image: url(../icons/type_favorites.png);
}
*.sbSystem_FavoriteFolder {
	background-image: url(../icons/type_favoritefolder.png);
}
*.sbSystem_Preferences {
	background-image: url(../icons/type_preferences.png);
}
*.sbSystem_Useraccounts,
*.sbSystem_Usergroup {
	background-image: url(../icons/type_group.png);
}
*.sbSystem_User {
	background-image: url(../icons/type_user.png);
}
*.sbSystem_Modules,
*.sbSystem_Module {
	background-image: url(../icons/type_modules.png);
}
*.sbSystem_Reports {
	background-image: url(../icons/type_reports.png);
}
*.sbSystem_Reports_DB {
	background-image: url(../icons/type_database.png);
}
*.sbSystem_Reports_Structure {
	background-image: url(../icons/type_structure.png);
}
*.sbSystem_Maintenance {
	background-image: url(../icons/type_maintenance.png);
}
*.sbSystem_Usergroup_Admins {
	background-image: url(../icons/type_admins.png);
}
*.sbSystem_Usergroup_Guests {
	background-image: url(../icons/type_guests.png);
}
*.sbSystem_Trashcan {
	background-image: url(../icons/type_trashcan.png);
}
*.sbSystem_Comment {
	background-image: url(../icons/type_comment.png);
}
*.sbSystem_Registry {
	background-image: url(../icons/type_registry.png);
}
*.sbSystem_Debug {
	background-image: url(../icons/type_debug.png);
}
*.sbSystem_Logs {
	background-image: url(../icons/type_logs.png);
}
*.sbSystem_Tags {
	background-image: url(../icons/type_tags.png);
}
*.sbSystem_Inbox {
	background-image: url(../icons/type_inbox.png);
}
*.sbSystem_Message {
	background-image: url(../icons/type_message.png);
}
*.sbSystem_Tasks {
	background-image: url(../icons/type_tasks.png);
}

*.new {
	background-image: url(../icons/doc_new.gif);
}
*.delete {
	background-image: url(../icons/doc_delete.gif);
}
*.cut {
	background-image: url(../icons/cut.png);
}
*.copy {
	background-image: url(../icons/copy.png);
}
*.paste {
	background-image: url(../icons/paste.png);
}
*.edit {
	background-image: url(../icons/doc_edit.gif);
}
*.empty {
	background-image: url(../icons/doc_empty.gif);
}
*.refresh {
	background-image: url(../icons/doc_reload.png);
}
*.import {
	background-image: url(../icons/import.png);
}
*.export {
	background-image: url(../icons/export.png);
}
*.add_to_favorites {
	background-image: url(../icons/type_favorites.png);
}


*.sb_tpl_stats {
	background-image: url(../icons/type_tpl_stats.png);
}
*.sb_tpl_comments {
	background-image: url(../icons/type_tpl_comments.png);
}


*.sb_event_security {
	background-image: url(../icons/type_event_security.png);
}
*.sb_event_error {
	background-image: url(../icons/type_event_error.png);
}
*.sb_event_info {
	background-image: url(../icons/type_event_info.png);
}
*.sb_event_maintenance {
	background-image: url(../icons/type_event_maintenance.png);
}
*.sb_event_debug {
	background-image: url(../icons/type_event_debug.png);
}
*.sb_event_warning {
	background-image: url(../icons/type_event_warning.png);
}

/*----------------------------------------------------------------------------*/
/* options
/*----------------------------------------------------------------------------*/

a.option:hover img {
	background: url(../images/highlight.png) top left repeat-x;
}

a.option img {
	border: 0;
}

/*----------------------------------------------------------------------------*/
/* confirmation & acknowlegde
/*----------------------------------------------------------------------------*/

body.confirm {
	background-color: lightgrey;
	margin: 0px;
	padding: 20px;
}
div.confirm h1 {
	font-size: 1.5em;
	margin-top: 0;
}
div.confirm h2 {
	font-size: 1.2em;
}
h1.acknowledge {
	background-color: #BFB;
}
hr.clear {
	visibility: hidden;
	margin: 0px;
	padding: 0px;
	clear: both;
	border: 0px;
	height: 0px;
}
span.clear {
	margin: 0px;
	padding: 0px;
	clear: both;
}


a.ok {
	text-align: center;
	display: block;
	width: 150px;
	padding: 10px;
	border: 2px outset lightgrey;
	color: black;
	background-color: #DDD;
	text-decoration: none;
}
a.ok:hover {
	border: 2px inset red;
	color: white;
	background-color: red;
}

a.cancel {
	text-align: center;
	display: block;
	width: 150px;
	padding: 10px;
	border: 2px outset lightgrey;
	color: black;
	background-color: #DDD;
	text-decoration: none;
}
a.cancel:hover {
	border: 2px inset darkgrey;
	color: white;
	background-color: #555;
}

a.proceed {
	margin: 0 auto;
	text-align: center;
	display: block;
	width: 150px;
	padding: 5px;
	border: 2px outset lightgrey;
	color: black;
	background-color: #DDD;
	text-decoration: none;
}
a.proceed:hover {
	border: 2px inset darkgrey;
	color: white;
	background-color: #AAA;
}

/*----------------------------------------------------------------------------*/
/* progressbar
/*----------------------------------------------------------------------------*/

div.progress {
	margin: 5px;
}
div.progress div.container {
	height: 12px;
	border: 2px inset grey;
	padding: 2px;
	background-color: white;
}
div.progress div.progressbar {
	height: 12px;
	background-color: darkblue;
}

/*----------------------------------------------------------------------------*/
/* exceptions & errors
/*----------------------------------------------------------------------------*/

table.exception {
	border: 2px solid red;
	background-color: white;
	color: red;
	font-size: 80%;
	border-collapse: collapse;
	margin: 20px;
}
table.exception th, table.exception td {
	text-align: left;
	border: 1px solid red;
	padding: 2px;
}
table.exception tr.root {
	background-color: #FCC;
}
table.exception th.message {
	color: white;
	background-color: red;
}

table.warning {
	border: 2px solid yellow;
	background-color: white;
	color: black;
	font-size: 80%;
	border-collapse: collapse;
	margin: 20px;
}
table.warning th, table.warning td {
	text-align: left;
	border: 1px solid yellow;
	padding: 2px;
}
table.warning tr.root {
	background-color: #FCC;
}
table.warning th.message {
	color: black;
	background-color: yellow;
}





