
/*************************** _admin styles ************************************/

/*@import url(styles_default.css);

/* view ----------------------------------------------------------------------*/

div.views {
	font-family: Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	background-color: #404840;
	color: white;
	float:left;
	width:100%;
	line-height:normal;
}
div.views ul {
	margin: 0;
	padding: 6px 0 0 8px;
	list-style: none;
}
div.views li {
	display: inline;
	margin: 0;
	padding: 0;
}
div.views a {
	float:left;
	background: url("../images/tab_left.png") left top no-repeat;
	margin:0 3px 0 0;
	padding:0 0 0 3px;
	text-decoration:none;
}
div.views a span {
	/*float:left;*/
	padding: 3px 10px 3px 7px;
	display:block;
	background: url("../images/tab_right.png")  right top no-repeat;
     
}
div.views a:hover {
	text-decoration: none;
	background: url("../images/tab_left_highlighted.png") top left no-repeat;
}
div.views a:hover span {
	background: url("../images/tab_right_highlighted.png") top right no-repeat;
}
div.views a.active {
	text-decoration: none;
	background: url("../images/tab_left_active.png") top left no-repeat;
}
div.views a.active span {
	background: url("../images/tab_right_active.png") top right no-repeat;
}


div.path {
	padding: 3px;
	background-color: #404840;
	color: white;
	border-bottom: 1px solid #505850;
}

div.path a {
	color: #C0C8C0;
}







