
/*----------------------------------------------------------------------------*/
/* types / icons
/*----------------------------------------------------------------------------*/

*.sbJukebox_Jukebox {
	background-image: url(../icons/type_jukebox.png);
}
*.sbJukebox_Playlist {
	background-image: url(../icons/type_playlist.png);
}
*.sbJukebox_Track {
	background-image: url(../icons/type_track.png);
}
*.sbJukebox_Album {
	background-image: url(../icons/type_album.png);
}
*.sbJukebox_Artist {
	background-image: url(../icons/type_artist.png);
}
*.sbJukebox_CD {
	background-image: url(../icons/type_cd.png);
}

*.sbJukebox_TPL_NowPlaying {
	background-image: url(../icons/type_tpl_nowplaying.png);
}
*.sbJukebox_TPL_Favorites {
	background-image: url(../icons/type_tpl_favorites.png);
}
*.sbJukebox_TPL_TopRated {
	background-image: url(../icons/type_tpl_toprated.png);
}


*.sb_action_play {
	background-image: url(../icons/action_play.png);
}